//*************************** header

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 72px;
  padding-bottom: 20px;
  z-index: 10;
  border-bottom: 1px solid $lines;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(253, 253, 253, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(253, 253, 253, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(253, 253, 253, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fdfdfd', GradientType=0);

  .section_inner {
    position: relative;
  }

  &._fixed {
    position: fixed;
    top: 0 !important;
  }
}

.logo_block {
  float: left;
  padding-right: 35px;
}

.logo {
  display: inline-block;
  position: relative;

  img {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
}

.callback_block {
  float: right;
}

.mega_menu {
  display: none;
  z-index: 8;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 2px;
  background: #fff;
  padding: 28px 29px;
  border: 1px solid #d4e4f5;
}

.mega_m_list {
  @extend %clearfix;
  margin-left: -40px;

  li {
    padding-left: 40px;
    float: left;
    width: 20%;
  }

}

.mega_m_unit {
  padding-bottom: 7px;
}

.mega_m_item {
  margin-bottom: 14px;
  margin-right: -5px;
}

.mega_m_link {
  @include transition_all(color .3s);
  display: block;
  color: $default_t_color;
  font-size: 11px;
  line-height: 1;
  letter-spacing: -.05em;

  ._active & {
    cursor: default;
    color: $blue;
    font-family: $GothamProBold;

    &:after {
      content: ' +';
    }
  }

  &:hover {
    color: $blue;
  }
}

.mega_m_caption {
  font: 14px $GothamProBold;
  color: $blue;
  padding-bottom: 10px;
  margin-bottom: 16px;
  border-bottom: 1px solid #d4e3f2;
}

.mega_m_img {
  position: relative;
  background: #ededed;
  height: 60px;
  margin-bottom: 9px;

  img {
    display: block;
    max-width: 100%;
  }
}

// *********  menu

.user_menu {
  float: right;
  line-height: 35px;
  max-width: 50%;

  .header & {
    position: relative;
    padding-left: 5px;

    &:before {
      content: '';
      position: absolute;
      left: -20px;
      top: 1px;
      bottom: 1px;
      border-left: 1px solid $lines;
    }
  }

  li {
    float: left;
    padding-left: 55px;

    &:first-child {
      padding-left: 10px;
    }
  }
}

.user_m_link {
  display: inline-block;
  vertical-align: middle;
  color: $default_t_color;
  font: 16px/1.2 $GothamProRegular;
  letter-spacing: .095em;

  .footer & {
    @include transition_all(opacity .3s);
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }
}

.main_menu {
  position: relative;
  z-index: 9;
  float: left;
  padding-right: 30px;
}

.main_m_item {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  max-width: 330px;
}

.menu_item {
  float: left;
  margin-left: -1px;

  &:first-child {
    margin-left: 0;
  }
}

.menu_link {
  cursor: pointer;
  position: relative;
  display: block;
  text-decoration: none;
}



