$icomoon-font-path: "fonts" !default;

$i-pencil: "\e905";
$i-quote: "\e904";
$i-date: "\e900";
$i-mobile: "\e902";
$i-work: "\e903";
$i-check: "\e906";
$i-close: "\e907";
$i-arrow_left: "\e90a";
$i-chevron_left: "\e901";
$i-chevron_right: "\e90b";
$i-chevron_down: "\e908";
$i-chevron_up: "\e90c";

